<!-- Pass on title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Flash message -->
<%- messages() %>

<fieldset method="get">
  <form>
    <label>Email Address <input class="username" name="Email" type="email"  required placeholder="someone@gmail.com"></label>
    <label>Password <input class="password" name="Password" type="password"  required placeholder="Enter Password"></label>
    <p>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
    <button>Show Password</button>
    <button type="submit" name="login">Login</button>
  </form>
    <p>No Account?<a href="#">Sign Up</a></p>
</fieldset>



