<body>
    <main>
        <h2 class="title">Welcome to CSE Motors!</h2>
        <div>
            <img class="dolor-img" src="../images/vehicles/delorean-tn.jpg">
            <div class="modal">
                <h3>Dmc Delorean</h3>
                <p>3 Cup holders</p>
                <p> Superman doors</p>
                <p>Fuzzy Dice!</p>
                <button class="button">Own Today</button>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <h4>Dolorean Uprades</h4>
                    <div class="line-1">
                        <div>
                            <img>
                            <a></a>
                        </div>
                        <div>
                            <img>
                            <a></a>
                        </div>
                    </div>
                    <div class="line-2">
                        <div>
                            <img>
                            <a></a>
                        </div>
                        <div>
                            <img>
                            <a></a>
                        </div>
                    </div>
                    <h4>DMC Dolorean Reviews</h4>
                    <div>
                        <Ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </Ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
